<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Master</title>
    <script src="master"></script>
  </head>
  <body>
    <header>
      <h1>Simple Demo Master</h1>
    </header>
    <div>
      <div>
        
        <p>
            User Name:
            <span th:text="${user.name}"></span>
        </p>
        <p> User Detail</p>
        <section layout:fragment="content">
          <div>Content Here</div>
        </section>
        <div>Menu down</div>
      </div>
    </div>
    <footer>
      <p layout:fragment="custom-footer">The footer of Simple Demo Master</p>
    </footer>
  </body>
</html>
